pipeline/2_pipeline_activies.json
{
	"name": "2_pipeline_activies",
	"properties": {
		"activities": [
			{
				"name": "length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "length",
					"value": "5"
				}
			},
			{
				"name": "Breadth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "breadth",
					"value": "10"
				}
			},
			{
				"name": "Area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "area",
					"value": {
						"value": "@string(mul(int(variables('length')),int(variables('breadth'))))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"length": {
				"type": "String",
				"defaultValue": "3"
			},
			"breadth": {
				"type": "String",
				"defaultValue": "2"
			},
			"area": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ksr_project"
		},
		"annotations": []
	}
}